.footer {
  position: relative; /* Ensure proper positioning for text overlay */
  overflow: hidden; /* Hide anything that overflows the footer area */
}

.footer-image-container {
  position: relative;
}

.footer-image {
  width: 100%; /* Make the image responsive */
  height: auto;
}

.footer-text {
  position: absolute; /* Position text on top of the image */
  top: 72%; /* Center vertically */
  left: 100%; /* Center horizontally */
  transform: translate(
    -50%,
    -50%
  ); /* Adjust positioning to align with the center */
  color: black; /* Make the text visible over the image */
  text-align: justify; /* Center the text */
}
